@font-face {
    font-family: "OTEnjoystoriesBA";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSans";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "GmarketSans";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
        format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
        format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
        format("opentype");
}

:root{
    --font-title:'OTEnjoystoriesBA', sans-serif;
    --font-body:'GmarketSans', sans-serif;
    --font-footer:'Noto Sans KR',sans-serif;

    --fw-bold: 700;
    --fw-medium: 400;

    --fs-xs: 0.9rem;
    --fs-sm: 1.2rem;
    --fs-md: 1.4rem;
    --fs-lg: 2.2rem;
    --fs-xl: 2.4rem;
    --fs-xxl: 3.6rem;
    --fs-xxxl: 6.4rem;

    --color-text-primary: #eee;
    --color-text-accent: #F5DF4D;
    --color-text-inverse: #5B2386;

    --color-btn-primary:#F5DF4D;
    --color-btn-secondary:#eee;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}
