body{
    background-color: #5B2386;
}

.page-wrapper{
    width: 36rem;
    margin: 3.5rem auto;

    background-color: lightblue;
    
    /* temp */
    border: solid 1px black;
}

.section-hero{
    margin: 3.6rem auto 7rem;
    
    
    /* temp */
    height: 18.6rem;
    background-color: lightcoral;
}

.section-description{
    margin-bottom: 6rem;

    /* temp */
    height: 6.8rem;
    background-color: lightcoral;
}

.section-calculator{
    margin-bottom: 6rem;

    /* temp */
    height: 35rem;
    background-color: lightcoral;
}

.section-action {
    margin-bottom: 7rem;

    /* temp */
    height: 4.6rem;
    background-color: lightcoral;
}