body{
    background-color: #5B2386;
}

.page-wrapper{
    max-width: 36rem;
    padding: 0 1.5rem;
    margin: 3.5rem auto;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__img{
    position: relative;
    height: 13rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__title{
    width: 28rem;
    height: 5.4rem;

    position: absolute;
    z-index: 10;
}

.hero__clock{
    width: 11rem;
    height: 11rem;

    position: absolute;
    z-index: 1;
}

.description__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator__input{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    margin-bottom: 5rem;
}

.calculator__label{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    column-gap: 0.8rem;
    row-gap: 1.2rem;
}


.calculator__input input{
    width: 15.6rem;
    height: 3.8rem;
    border-radius: 0.8rem;
    text-align: center;
}

.calculator__output{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1.6rem 2.4rem;
    border: none;
    border-radius: 1.2rem;
}

.btn--yellow{
    background-color: var(--color-btn-primary);
}

.calculator__submit .btn{
    width: 24rem;
}

.calculator__submit{
    position: relative;
    margin-bottom: 5rem;
}

.calculator__submit img{
    width: 4.3rem;
    height: 4.8rem;

    position: absolute;
    top: 4.5rem;
    left: 24rem;
}

.calculator__output{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.calculator__output .row1,
.calculator__output .row2{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.action{
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    margin-bottom: 7rem;
}

.btn--white{
    background-color: var(--color-btn-secondary);
}


.footer__logo{
    width: 12.5rem;
    height: 2.8rem;
}

footer{
    margin-bottom: 3.5rem;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.br-mobile{
    display: block;
}

.modal-wrapper{
    /* temp */
    display: none;
}

.modal__dim{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 999;

    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
}

.modal {
    background-color: #eee;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.modal__text{
    display: flex;
    flex-direction: column;
}

.modal__text span{
    line-height: 1;
}

.modal__img{
    width: 24rem;
    height: 19rem;
}

.modal button{
    /* width: 23rem;
    height: 7.2rem; */
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
}

.modal button span:last-child{
    white-space: nowrap;
}

@media screen and (min-width: 1024px) {

    .br-mobile{
        display: none;
    }

    .page-wrapper{
        max-width: 80rem;
        padding: none;
        margin: 8rem auto;
    }

    main{
        gap: 16rem;
    }

    .hero__img{
        height: 26rem;
    }

    .hero__title{
        width: 56.4rem;
        height: 11.2rem;
    }

    .hero__clock{
        width: 26rem;
        height: 26rem;
    }

    .calculator__input{
        gap: 2rem;
        margin-bottom: 10rem;
    }

    .calculator__label{
        column-gap: 2rem;
        flex-wrap: nowrap;
    }

    .calculator__input input{
        width: 22.8rem;
        height: 5.6rem;
    }

    .btn{
        padding: 2rem 5rem;
    }

    .calculator__submit .btn{
        width: 56.7rem;
    }

    .calculator__submit{
        margin-bottom: 10rem;
    }

    .calculator__submit img{
        width: 6.4rem;
        height: 7.2rem;

        position: absolute;
        top: 1rem;
        left: 58rem;
    }

    .calculator__output{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .action{
        gap: 1.2rem;
        margin-bottom: 16rem;
    }

    .footer__logo{
        width: 16.8rem;
        height: 3.6rem;
    }

    footer{
        margin-bottom: 8rem;
    }

    .line{
        gap: 2rem;
    }

    .modal {
        padding: 8.2rem 14.6rem;
        border-radius: 2rem;
        gap: 4rem;
    }

    .modal__img{
        width: 43.8rem;
        height: 34.2rem;
    }
}