body{
    width: auto;
    text-align: center;
}

.page-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    gap: 32px;
    /* max-width: 420px; */
    margin: 0 auto;
    padding: 0 32px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer{
    grid-area: footer;
}

.hero{
    /* margin-bottom: 102px; */
}

.hero__title{
    position: relative;
    height: 265px;
    margin-bottom: 56px;
}

.hero__title img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.hero__title img:nth-child(1){
    width: 564px;
    height: 112px;
    z-index: 10;
}
.hero__title img:nth-child(2){
    width: 260px;
    height: 260px;
    z-index: 1;
}

.hero__catchphrase-text{
    margin-bottom: 76px;
}
.hero__description{
    margin-bottom: 102px;
    display: flex;
    justify-content: center;
    position: relative;
}

.hero__description > img{
    position: absolute;
}

.btn-submit{
    margin-bottom: 100px;
}

.input__goal-row {
    margin-bottom: 28px;
}

.input__time-row{
    margin-bottom: 116px;
}

.section--input__submit{
    position: relative;
}

.section--input__submit .img-click{
    position: absolute;
    width: 64px;
    height: 72px;
}

.output__days-text{
    margin-bottom: 128px;
}