body{
    background-color: #5B2386;
}

.page-wrapper{
    width: 36rem;
    margin: 3.5rem auto;
    display: flex;
    flex-direction: column;
    

    background-color: lightblue;
    
    /* temp */
    border: solid 1px black;
}

main{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.hero{
    margin-top: 3.6rem;
    
    /* temp */
    /* height: 18.6rem; */
    /* background-color: lightcoral; */

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__img{
    position: relative;
    height: 13rem;
}

.hero__title{
    width: 28rem;
    height: 5.4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.hero__clock{
    width: 11rem;
    height: 11rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}


.description{
    

    /* temp */
    height: 6.8rem;
    background-color: lightcoral;
}

.calculator{
    

    /* temp */
    height: 35rem;
    background-color: lightcoral;
}

.action {
    

    /* temp */
    height: 4.6rem;
    background-color: lightcoral;
}