body{
    background-color: #5B2386;
}

.page-wrapper{
    width: 36rem;
    margin: 3.5rem auto;
    display: flex;
    flex-direction: column;
    

    background-color: lightblue;
    
    /* temp */
    border: solid 1px black;
}

main{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.section-hero{
    margin-top: 3.6rem;
    
    /* temp */
    /* height: 18.6rem; */
    background-color: lightcoral;

    /* position: relative; */
}

.hero-img{
    position: relative;
    height: 13rem;
}

.hero-img__title{
    width: 28rem;
    height: 5.4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.hero-img__clock{
    width: 11rem;
    height: 11rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.section-hero p{
    font-family: "OTEnjoystoriesBA";
    color: #F5DF4D;
}


.section-description{
    

    /* temp */
    height: 6.8rem;
    background-color: lightcoral;
}

.section-calculator{
    

    /* temp */
    height: 35rem;
    background-color: lightcoral;
}

.section-action {
    

    /* temp */
    height: 4.6rem;
    background-color: lightcoral;
}