body{
    background-color: #5B2386;
}

.page-wrapper{
    width: 36rem;
    margin: 3.5rem auto;
    display: flex;
    flex-direction: column;
    

    
    /* temp */
    /* background-color: lightblue; */
    border: solid 1px black;
}

main{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.hero{
    margin-top: 3.6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__img{
    position: relative;
    height: 13rem;
}

.hero__title{
    width: 28rem;
    height: 5.4rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.hero__clock{
    width: 11rem;
    height: 11rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.description__content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator__input{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    margin-bottom: 5rem;
}

.mobile-row1,
.mobile-row2,
.mobile-row3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

}


.calculator__input input{
    width: 15.6rem;
    height: 3.8rem;
    border-radius: 0.8rem;
    text-align: center;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 1.6rem 2.4rem;
    border: none;
    border-radius: 1.2rem;
}

.btn--yellow{
    background-color: var(--color-btn-primary);
}

.calculator__submit .btn{
    width: 24rem;
}

.calculator__submit{
    position: relative;
    margin-bottom: 5rem;
}

.calculator__submit img{
    width: 4.3rem;
    height: 4.8rem;

    position: absolute;
    top: 4.5rem;
    left: 24rem;
}

.calculator__output{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.calculator__output .row1,
.calculator__output .row2{
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.action{
    display: flex;
    justify-content: center;
    gap: 0.8rem;

    margin-bottom: 7rem;
}

.btn--white{
    background-color: var(--color-btn-secondary);
}


.footer__logo{
    width: 12.5rem;
    height: 2.8rem;
}
footer{
    margin-bottom: 3.5rem;
}