html{
    font-size: 10px;
}

body{
    background-color: #5B2386;
    font-family: 'GmarketSansMedium';
    font-weight: 400;
    font-size: 1.8rem;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 1.5;
}

button{
    border-radius: 12px;
    background-color: #F5DF4D;
    padding: 2.0rem 5.0rem;
    
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: 2.4rem;
    letter-spacing: 0%;
    /* text-align: center;
    line-height: 100%; */
    
    
    
    color: #5B2386;
}


.hero__catchphrase-text{
    font-family: 'OTEnjoystoriesBA';
    font-weight: bold;
    font-size: 3.6rem;
    color: #F5DF4D;
    text-align: center;
}

.hero__description{
    text-align: center;
}

.hero__description-text span{
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: 2.4rem;
}

.section--input{
    text-align: center;
}

.section--input input{
    text-align: center;
    font-family: 'GmarketSansMedium';
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 100%;
}

.input__enter > div{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.section--output{
    text-align: center;
}

.section--output span{
    font-family: 'GmarketSansBold';
    font-weight: 700;
    font-size: 72px;
    vertical-align: middle;
    margin-bottom: 20px;

    display: inline-block;
    /* align-items: center;
    gap: 1em; */
    margin: 0 1rem;
}

.output__actions{
    display: inline-flex;
    gap: 12px;
}

.output__action-share{
    background-color: #eeee;
}

footer{
    text-align: center;
}

.footer__branding img{
    margin-bottom: 20px;
}

.footer__branding .footer__notice{
    font-family: 'Noto Sans KR';
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 100%;
}

.modal__overlay{
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    background-color: #eeee;
    font-family: 'OTEnjoystoriesBA';
    text-align: center;
    color: #5B2386;
}

.modal p{
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 100%;
}

.modal span{
    font-weight: bold;
    font-size: 9.6rem;
    line-height: 100%;
}

.br-mobile{
    display: none;
}

.mobile-break{
    display: inline-flexs;
}

@media screen and (max-width: 480px){

    body{
        font-size: 1.4rem;
    }
    .hero__catchphrase-text{
        font-size: 2.2rem;
    }
    .hero__description-text span{
        font-size: 1.4rem;
    }
    .input__enter input{

    }
    .br-mobile{
        display: block;
    }
    .mobile-break{
        display: block;
        height: 0;
    }
    

}